<div class='nps-bar'>
  <div class="nps-bar--close" onclick={{action @close}}>
    ×
  </div>

  <div class="nps-survey--wrapper">
    {{#if initialRating}}
      <rating-form @submit={{action submitRating}} />
    {{else if leavingFeedback}}
      <feedback-form @rating={{rating}} @submit={{action submitFeedback}} />
    {{else if completedForm}}
      <thank-you />
    {{/if}}
  </div>

  <powered-by />
</div>
