<div class="nps-feedback">
  <div class="nps-feedback-question">
    <div class="nps-title nps-left">{{labelText}}</div>
    <textarea class='nps-feedback--textarea'
              value={{feedback}}
              onblur={{action updateFeedback}} />
  </div>

  <div style="float: right;">
    <button class='nps-submit--button'
            style="box-shadow: 0 5px 0 0 {{color-config 'borderButton'}}, 0 1px 1px 0 rgba(0, 0, 0, 0.1);"
            onclick={{action @submit feedback}}>
      <div class="nps-submit--button-inner"
           style="background-color: {{color-config 'primaryColor'}};
                  color: {{color-config 'backgroundColor'}};">
        {{submitText}}
      </div>
    </button>
  </div>
</div>
