<div class="advonps-title advonps-center">{{i18n-t 'how_likely_us'}}</div>

<div class="advo-rating-form">
  <div class="advo-rating-form-select">
    {{#each options key="@index" as |option|}}
      <div class="advo-rating-form--button"
           style="box-shadow: 0 5px 0 0 {{color-config 'borderButton'}}, 0 1px 1px 0 rgba(0, 0, 0, 0.1);"
           onclick={{action @submit option}}>
        <div class="advo-rating-form--button-inner"
          style="background-color: {{color-config 'primaryColor'}};color: {{color-config 'textColor'}};">
          {{option}}
        </div>
      </div>
    {{/each}}
  </div>

  <div class="advonps-cf">
    <div class="advo-rating-form-hint advo-rating-form--unlikely" style="color: #6c7279">
      {{i18n-t 'unlikely'}}
    </div>
    <div class="advo-rating-form-hint advo-rating-form--likely" style="color: #6c7279">
      {{i18n-t 'likely'}}
    </div>
  </div>
</div>

